.title  

{  

        margin-bottom: 20px;  

        padding:20px  

}  

.img  

{  

       height: 260px;width:100%  

}  


.CarouselHome{
	width: 300px;
	height: 300px;
	border-radius: 2px;
	border-bottom: 3px solid green;
	justify-content: space-around;
	box-shadow: 0px 0px 10px 0px gray;
	padding-top: 15px;
	
	.CarouselHomeP{
		justify-content: space-around;
		position: relative;
		font-size: 16px;
		line-height:1.5;
		margin-bottom: 10px;
		letter-spacing: 0.2px;
		height: 100px;
		text-align: center;
			
	}
	
.CarouselHomeImgH4P{

                text-align: center;
		padding: 5px;
		justify-content: center;
		position: relative;
                margin: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
		
		
		.CarouselHomeImgDiv{

                        width: 80px;
                        height: 80px;
                        padding: 5px;
                        text-align: center;
                        position: relative;
                        justify-content: center;
                        margin: auto;
                        margin-top: 10px;

                        img{
	                        width: 50px;
	                        height: 50px;
	                        border-radius: 50%;
	                        position: relative;
	                        margin: auto;
	
                        }
  
                }
		
		h4{
			font-size: 12px;
			position: relative;
			color: dimgray;
			margin-top: 3px;
			
		}
		
		p{
			font-size: 10px;
			position: relative;
			color: black;
			margin-top: 5px;
		}
	}
}
